//Footer 

    .footer{
        background: linear-gradient(280.04deg,black 0%,#0D0D0D 14%, #0F0526 38.45%, #160A40 48.96%, #1F1659 60%, black 100% );
}
    .footer a{
        color:#F1F0F3 !important;
    }
    .col-md-6{
        color:#F1F0F3 !important;
    }

