main{
    background-color: whitesmoke;
    h1{
        font-size: medium;
        align-items: center;
        padding-left: 1rem;
    }
}
h5{font-size: xx-large;
    flex-wrap: wrap;
    p{font-size: xx-large;
    }
}

.nav-link px-2 text-muted {
    background-color: #1915cd !important;
}
.col{
    background-color:rgb(28, 189, 178)!important;
}

