
@media (max-width: 600px) { 
    footer.conteiner{
        background-color:rgb(91, 100, 130) ;
        }
    }

@media (max-width: 1200px) {
    footer.conteiner {
        background-color:rgb(42, 42, 45) ;
        }
    }

    @media (max-width: 1400px){
        .btn.btn-success{
             position:absolute;
             left: 50%;
     
        }
     }
    
     @media (max-width: 991px){
        .btn.btn-success{
             position:absolute;
             left: 70%;
     
        }
     }
    
     @media (max-width: 338px){
        .btn.btn-success{
             position:absolute;
             left: 65%;
        }
     }
    
